@import url('https://fonts.googleapis.com/css?family=Arvo:400,400i&display=swap');

:root {
  --background-color: #152642;
  --block-color: #2F4562;
  --canvas-background-color: #081B33;

  font-size: 10px;
  font-family: 'Arvo', serif;
}